body,
html {
  margin: 0;
  padding: 0;
  background-color: #506477;
  font-family: monaco, Consolas, Lucida Console, monospace;
}

.App {
  top: 0;
  height: 100%;
  width: 100%;
  border: 3px solid black;
  background-color: #506477;
}

.Box {
  height: 20px;
  width: 400px;
  background-color: #91b4d5;
  border-radius: 4px;
}

li {
  list-style-type: none;
}
